<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./mainPage.css">
</head>
<body><header id="header" class='g-hd f-fadeIn'>
    <div id="geometric" class="geometric">
        <svg id="circle1" data-parallaxify-range-x="100" data-parallaxify-range-y="50" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, -0.55, 1.54167);">
            <circle class="circle" cx="59.5" cy="59.5" r="44.5"></circle>
        </svg>
        <svg id="circle2" data-parallaxify-range="50" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.66, -1.85);">
            <circle class="circle" cx="59.5" cy="59.5" r="44.5"></circle>
        </svg>
        <svg id="circle3" data-parallaxify-range="25" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.825, -2.3125);">
            <circle class="circle" cx="59.5" cy="59.5" r="44.5"></circle>
        </svg>
        <svg id="circle4" data-parallaxify-range="15" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.55, -1.54167);">
            <circle class="circle" cx="59.5" cy="59.5" r="44.5"></circle>
        </svg>
        <svg id="circle5" data-parallaxify-range-x="100" data-parallaxify-range-y="50" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, -0.55, 1.54167);">
            <circle class="circle" cx="59.5" cy="59.5" r="44.5"></circle>
        </svg>
        <svg id="circle6" data-parallaxify-range="50" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.66, -1.85);">
            <circle class="circle" cx="59.5" cy="59.5" r="44.5"></circle>
        </svg>
        <svg id="circle7" data-parallaxify-range-x="100" data-parallaxify-range-y="50" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, -0.55, 1.54167);">
            <circle class="circle" cx="59.5" cy="59.5" r="44.5"></circle>
        </svg>
        <svg id="square1" data-depth-x="0.80" data-depth-y="-0.80" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, -0.55, 1.54167);">
            <path class="square" d="M11.988,61L62,10.989,112.011,61,62,111.012Z"></path>
        </svg>
        <svg id="square2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.66, -1.85);">
            <path class="square" d="M11.988,61L62,10.989,112.011,61,62,111.012Z"></path>
        </svg>
        <svg id="square3" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.825, -2.3125);">
            <path class="square" d="M11.988,61L62,10.989,112.011,61,62,111.012Z"></path>
        </svg>
        <svg id="square4" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.55, -1.54167);">
            <path class="square" d="M11.988,61L62,10.989,112.011,61,62,111.012Z"></path>
        </svg>
        <svg id="close1" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, -0.55, 1.54167);">
            <path class="green" d="M36.029,56.686l5.657-5.657L69.97,79.314l-5.657,5.657Z"></path>
            <path class="green" d="M36.029,79.314L64.313,51.029l5.657,5.657L41.686,84.971Z"></path>
        </svg>
        <svg id="close2" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.66, -1.85);">
            <path class="purple" d="M41.03,39.686l5.657-5.657L74.97,62.314,69.314,67.97Z"></path>
            <path class="purple" d="M41.03,62.314L69.314,34.03l5.657,5.657L46.686,67.97Z"></path>
        </svg>
        <svg id="close3" xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 120 120" style="transform: matrix(1, 0, 0, 1, 0.825, -2.3125);">
            <path class="purple" d="M41.03,39.686l5.657-5.657L74.97,62.314,69.314,67.97Z"></path>
            <path class="purple" d="M41.03,62.314L69.314,34.03l5.657,5.657L46.686,67.97Z"></path>
        </svg>
    </div>
</header>
<main>
    <div class="content">Enter now?</div>
    <div class="content2">Press Enter</div>
</main>
<script src="./mainPage.js"></script>
</body>
</html>